<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.icomputercoding.folkchat">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FolkChat">
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Chats.GroupChat"
            android:exported="false"
            android:theme="@style/Theme.FolkChat.NoActionBar" />
        <activity
            android:name=".Chats.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.FolkChat.NoActionBar" />
        <activity
            android:name=".Activities.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.FolkChat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileScreen"
            android:exported="true"
            android:theme="@style/Theme.FolkChat.NoActionBar" />
        <activity
            android:name=".Activities.OTPVerifyScreen"
            android:exported="false"
            android:theme="@style/Theme.FolkChat.NoActionBar" />
        <activity
            android:name=".Activities.PhoneScreen"
            android:exported="false"
            android:theme="@style/Theme.FolkChat.NoActionBar" />

        <service
            android:name=".MyFirstbaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>